
/*style by tien*/

.menu_web li{
    float:left;
    margin-right:3%;
    position:relative;
}
.menu_web li:hover:before,
.menu_web li.active:before{
    content:"";
    height:4px;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    background:#cd181f;
}
.menu_web li a{
    text-transform:uppercase;
    color:#333333;
    line-height:50px;
    display:block;
    float:left;
    height:50px;
    font-size:15px;
    font-weight:400;
}
.menu_web li.active a{
    color:#cd181f;
}
.menu_web li:last-child{
    margin-right:0
}

.menu_web li>ul{
    position:absolute;
    left:0;
    top:50px;
    width:300px;
    z-index:3;
    background-color: rgba(205, 24, 31, 0.9);
    display:none;
}
.menu_web li>ul a{
    color:#fff;
    font-size:13px;
    font-weight:700;
    display:block;
    padding:7px 0;
    line-height:15px;
    height:auto;
    border-bottom:1px solid #eee;
    width:100%;
    padding:7px 10px;
    text-align:left;
}

.menu_web>li:hover .sub-menu{
    display:block;
}

.menu_footer{    display: inline-block;
    padding: 10px 0;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 500;
    position: relative;}
.menu_footer>li {
    display: inline-block;
    padding: 10px 0;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}
.menu_footer>li>ul{
    display: none;
}

.menu_footer li>ul {
    position: absolute;
    left: 0;
    top: 30px;
    width: 300px;
    z-index: 3;
    background-color: rgba(205, 24, 31, 0.9);
    display: none;
}
.menu_footer>li:hover ul{
    display: block;
}

.menu_footer li>ul a{
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    display: block;
    padding: 7px 0;
    line-height: 15px;
    height: auto;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 7px 10px;
    text-align: left;
}

.ellip {
    display: block;
    height: 100%;
}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
}

.ellip,
.ellip-line {
    position: relative;
    overflow: hidden;
}